                                                   
/* main.css                                            */
/* These styles only exist on the builder (edit) page. */
/*                                                     */
/*                                                     */

/* Ensures the column layout and visibility rules */
.column-content, .pagecolumn, .grid {
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #f0f0f0; */
  border: 1px solid cyan;
}

/* Give some space for the buttons to live */
.pagecolumn {
  min-height: 82px;
}

/* Visual indicator of the element being currently edited */
#editing-highlight {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.75); /* Optional: adds a glow effect for stronger emphasis */
}