/* main.css */

/* Ensures the column layout and visibility rules */
.column-content {
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #f0f0f0; */
  padding: 32px 16px;
  border: 1px solid cyan;
}

/* Styles for buttons to be hidden by default */
.editContent, .removeColumn {
  display: none;
  position: absolute;
  top: 10px;
}

.editContent {
  right: 70px; /* Adjust positioning as needed */
}

.removeColumn {
  right: 10px; /* Adjust positioning as needed */
}

.content-button {
  height: 100px;
  width: 100px;
}

/* Only show buttons when the column is hovered over */
.column-content:hover .editContent,
.column-content:hover .removeColumn {
  display: block;
}

.column-content img,
.column-content video {
    max-width: 100%;
    height: auto;
}

.column-content audio {
  max-width: 100%;
  min-height: 32px;
}

.editing-highlight {
  border: 2px solid blue; /* Blue border for visibility */
  padding: 5px; /* Slight padding to enhance focus */
  box-shadow: 0 0 5px blue; /* Optional: adds a glow effect for stronger emphasis */
}