                                                   
/* main.css                                            */
/* These styles only exist on the builder (edit) page. */
/*                                                     */
/*                                                     */

/* Ensures the column layout and visibility rules */
.pagecontent, .pagecolumn, .pagegrid, .pagecontainer, .maincontainer {
  position: relative;
}

#sidebar.hover {
  border-color: rgba(255, 255, 0, 0.1);
}

#sidebar.focus {
  border-color: rgba(0, 255, 0, 0.1);
}

#sidebar.active {
  border-color: rgba(0, 0, 255, 0.1);
}

.pagecontent *:empty:not(img):not(video):not(audio):not(input):not(br):not(hr) {
  padding: 15px;
}

/* Visual indicator of the element being currently edited */
#editing-highlight {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.75);
}

.pagegrid:hover {
  border: 1px solid cyan;
  border-color: rgba(0, 255, 255, 0.1);
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='64' width='64'><rect fill='white' x='35.6' y='35.6' width='28.4' height='28.4' rx='5.7' ry='5.7'/><rect fill='black' x='38.5' y='46.6' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='38.5' y='54.5' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='46.6' y='38.5' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='46.6' y='46.6' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='46.6' y='54.5' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='54.7' y='38.5' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='54.7' y='46.6' width='6.5' height='6.5' rx='2' ry='2'/><rect fill='black' x='54.7' y='54.5' width='6.5' height='6.5' rx='2' ry='2'/><path fill='black' d='M42.9,39.3l-5.9-5.9c-.2,0-.6-.4-1-.4l-3.2-1h-.6v.6l1,3.2c0,.4.2.8.4,1l6.3,6.3.8-.8,2.6-2.6h-.2v-.2h0l-.2-.2ZM35.2,34.8s-.4,0-.4.4v.8h-.4v-.4l-.6-2,2,.6h.2v.6h-.8ZM41.1,40.3h-.4l-3.8-3.8v-.6h.6l3.8,3.8v.6h-.2ZM45.2,41.5l-.4-.4-.6-.6h-.2c0-.2-3.4,3.2-3.4,3.2h.2c0,.2.6.8.6.8l.4.4c.6.6,1.6.6,2.4,0l1-1c.6-.6.6-1.6,0-2.4Z'/><path fill='white' d='M41.1,40.3h-.4l-3.8-3.8v-.6h.6l3.8,3.8v.6h-.2Z'/><path fill='white' d='M36.1,34.8h-.8s-.4,0-.4.4v.8h-.4v-.4l-.6-2,2,.6h.2v.6h0Z'/></svg>") 32 32, pointer;
}

/* keeping for later if needed */
.pageflex:hover {
  border: 1px solid cyan;
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='64' width='64'><rect fill='black' x='32' y='49.8' width='19' height='14.2' rx='3.6' ry='3.6'/><rect fill='black' x='54.6' y='49.8' width='9.4' height='14.2' rx='3.6' ry='3.6'/><path fill='black' d='M47.7,43.6c0,0-.2-.2-.3-.3l-1.5-1.5-1.1,1.1-2,2-1.1,1.1.4.4.7.7.5.5.3.3c.8.5,1.9.5,2.5-.3l1.3-1.3c.7-.7.8-1.8.3-2.5v-.2ZM37.9,33.8c-.3-.3-.7-.5-1.1-.6l-.9-.3-2.9-.9c-.3,0-.6,0-.8.3-.2.2-.2.5-.2.7l.9,2.9.3.9c.2.4.4.8.7,1.2l7.3,7.3,4.1-4.1-7.3-7.4h0ZM36.2,35.6c-.3,0-.5.3-.5.5v1l-.7-.3c0,0-.2-.3-.2-.4l-.5-1.7-.2-.8.8.2,1.7.5c.2,0,.3,0,.4.2l.3.7h-1.1ZM42.2,41.8l-4.5-4.5c-.2-.2-.2-.5,0-.7s.5-.2.7,0l4.5,4.5c.2.2.2.5,0,.7s-.5.2-.7,0Z'/><path fill='white' d='M42.9,41.8c-.2.2-.5.2-.7,0l-4.5-4.5c-.2-.2-.2-.5,0-.7s.5-.2.7,0l4.5,4.5c.2.2.2.5,0,.7Z'/><path fill='white' d='M37.2,35.6h-1c-.3,0-.5.3-.5.5v1l-.7-.3c0,0-.2-.3-.2-.4l-.7-2.5,2.5.7c.2,0,.3,0,.4.2l.3.7h0Z'/><polygon fill='white' points='46 41.8 44.9 42.9 43 44.8 41.9 45.9 42.3 46.2 43 46.9 41.2 45.2 45.3 41.1 46 41.8'/></svg>") 32 32, pointer;
}

.pagecontainer:hover, .maincontainer:hover {
  border: 1px solid cyan;
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='64' width='64'><rect fill='white' x='35.5' y='32.4' width='28.5' height='28.5' rx='5.7' ry='5.7'/><rect fill='black' x='51.5' y='44.9' width='10.3' height='13.8' rx='2.6' ry='2.6'/><rect fill='black' x='37.7' y='51.8' width='10.3' height='6.9' rx='2.6' ry='2.6'/><rect fill='black' x='51.5' y='34.6' width='10.3' height='6.9' rx='2.6' ry='2.6'/><path fill='black' d='M47.7,43.7c0-.1-.2-.2-.3-.3l-1.5-1.5-1.1,1.1-2,2-1.1,1.1.4.4.7.7.5.5.3.3c.8.5,1.9.5,2.5-.3l1.3-1.3c.7-.7.8-1.8.3-2.5v-.2h0ZM37.9,33.8c-.3-.3-.7-.5-1.1-.6l-.9-.3-2.9-.9c-.3,0-.6,0-.8.3-.2.2-.2.5-.2.7l.9,2.9.3.9c.2.4.4.8.7,1.2l7.4,7.4,4.1-4.1-7.4-7.5h-.1,0ZM36.2,35.6c-.3,0-.5.3-.5.5v1l-.7-.3c-.1-.1-.2-.3-.2-.4l-.5-1.7-.2-.8.8.2,1.7.5c.2,0,.3.1.4.2l.3.7h-1.1c0,.1,0,0,0,0ZM42.3,41.9l-4.5-4.5c-.2-.2-.2-.5,0-.7s.5-.2.7,0l4.5,4.5c.2.2.2.5,0,.7s-.5.2-.7,0Z'/><path fill='white' d='M43,41.9c-.2.2-.5.2-.7,0l-4.5-4.5c-.2-.2-.2-.5,0-.7s.5-.2.7,0l4.5,4.5c.2.2.2.5,0,.7Z'/><path fill='white' d='M37.2,35.6h-1c-.3,0-.5.3-.5.5v1l-.7-.3c-.1-.1-.2-.3-.2-.4l-.7-2.5,2.5.7c.2,0,.3.1.4.2l.3.7h-.1c0,.1,0,0,0,0Z'/><polygon fill='white' points='46.1 41.9 45 43 43.1 44.9 42 46 42.4 46.3 43.1 47 41.3 45.2 45.3 41.2 46.1 41.9'/></svg>") 32 32, pointer;
}

.maincontainer:hover {
  border-color: rgba(0, 255, 255, 0.1);
}

.pagecolumn:hover {
  border: 1px solid cyan;
  padding-bottom: 4rem;
   cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='64' width='64'><path fill='black' d='M60.8,41.7h-25.3c-1.8,0-3.2,1.4-3.2,3.2v15.8c0,1.8,1.4,3.2,3.2,3.2h25.3c1.8,0,3.2-1.4,3.2-3.2v-15.8c0-1.8-1.4-3.2-3.2-3.2ZM41.9,60.6h-6.3v-15.8h6.3v15.8ZM51.4,60.6h-6.3v-15.8h6.3v15.8ZM60.8,60.6h-6.3v-15.8h6.3v15.8Z'/><rect fill='white' x='54.5' y='44.8' width='6.3' height='15.8'/><rect fill='white' x='45' y='44.8' width='6.3' height='15.8'/><rect fill='white' x='35.6' y='44.8' width='6.3' height='15.8'/><path fill='black' d='M50.2,44.2l-9.7-9.7c-.6-.4-1.2-.8-1.6-1l-5.3-1.6c-.4,0-.8,0-1.2.4s-.4.8-.4,1.2l1.6,5.3c0,.8.6,1.2,1,1.6l10.1,10.1,1.4-1.4,4.1-4.1-.6-.6h.6v-.2ZM37.9,37.1c-.4,0-.8.4-.8.8v1.4l-1-.4s-.2-.4-.4-.6l-1.2-3.4,3.4,1.2c.2,0,.4,0,.6.4l.4,1.2h-1.4l.2-.4.2-.2ZM47.4,45.8c-.2.2-.8.2-1,0l-6.1-6.1c-.4-.4-.4-.8,0-1.2.4-.2.8-.2,1.2,0l6.1,6.1c.4.4.4.8,0,1.2h-.2ZM53.7,47.8l-.8-.8-1.2-1.2-.6-.6-5.7,5.7.6.6,1.2,1.2.8.8c1.2,1.2,2.8,1.2,4,0l1.8-1.8c1.2-1.2,1.2-2.8,0-4Z'/><path fill='white' d='M47.4,45.8c-.2.2-.8.2-1,0l-6.1-6.1c-.4-.4-.4-.8,0-1.2.4-.2.8-.2,1.2,0l6.1,6.1c.4.4.4.8,0,1.2h-.2Z'/><path fill='white' d='M39.3,37.1h-1.4c-.4,0-.8.4-.8.8v1.4l-1-.4s-.2-.4-.4-.6l-1.2-3.4,3.4,1.2c.2,0,.4,0,.6.4l.4,1.2.2-.4.2-.2Z'/></svg>") 32 32, pointer;
}

.pagecontent:hover {
  border: 1px solid cyan;
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='64' width='64'><path fill='black' d='M62.9,54.9c0-.2-.4-.4-.6-.6l-2.9-2.9-2.2,2.2-3.9,3.9-2.2,2.2.8.8,1.4,1.4,1,1,.6.6c1.6,1,3.7,1,4.9-.6l2.5-2.5c1.4-1.4,1.6-3.5.6-4.9v-.4ZM43.6,35.5c-.6-.6-1.4-1-2.2-1.2l-1.8-.6-5.7-1.8c-.6,0-1.2,0-1.6.6-.4.4-.4,1-.4,1.4l1.8,5.7.6,1.8c.4.8.8,1.6,1.4,2.3l14.5,14.5,8-8-14.5-14.7h-.2ZM40.2,39c-.6,0-1,.6-1,1v2l-1.4-.6c-.2-.2-.4-.6-.4-.8l-1-3.3-.4-1.6,1.6.4,3.3,1c.4,0,.6.2.8.4l.6,1.4h-2.2v.2ZM52.2,51.4l-8.8-8.8c-.4-.4-.4-1,0-1.4s1-.4,1.4,0l8.8,8.8c.4.4.4,1,0,1.4s-1,.4-1.4,0Z'/><path fill='white' d='M53.5,51.4c-.4.4-1,.4-1.4,0l-8.8-8.8c-.4-.4-.4-1,0-1.4s1-.4,1.4,0l8.8,8.8c.4.4.4,1,0,1.4Z'/><path fill='white' d='M42.2,39h-2c-.6,0-1,.6-1,1v2l-1.4-.6c-.2-.2-.4-.6-.4-.8l-1.4-4.9,4.9,1.4c.4,0,.6.2.8.4l.6,1.4h0l-.2.2Z'/><polygon fill='white' points='59.6 51.4 57.5 53.5 53.7 57.3 51.6 59.4 52.4 60 53.7 61.4 50.2 58 58.2 50 59.6 51.4'/></svg>") 32 32, pointer;
}
